// Anime items container
#animeitems-container {
    padding: 40px 70px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;

    // Style all anime link boxes
    a {
        position: relative;
        height: 500px;
        margin-bottom: 10px;
        border-radius: 7px;
        border: 2px solid whitesmoke;
        text-decoration: none;

        // Style all anime images 
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        // Style all text popups
        .text-popup {
            position: absolute;
            width: 100%;
            height: auto;
            bottom: 0;
            background: linear-gradient(0deg, #000 60%, rgba(0, 0, 0, 0) 100%);
            padding-bottom: 10px;
            padding-left: 15px;
            padding-top: 25px;
            padding-right: 15px;
            opacity: 0;
            transition: 0.25s;

            // Style all anime titles
            p {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        // Hover over anime link box
        &:hover {
            .text-popup {
                opacity: 1;
            }
        }
    }
}